.banner {
    padding-top: 80px;
    background: #BEE1E6;
}

.banner .ban_text span {
    display: inline-block;
    font-size: 14px;
    background: #006D77;
    padding: 10px 15px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.banner .ban_text h1 {
    max-width: 525px;
    font-size: 53px;
    margin-bottom: 27px;
}

.banner .ban_text p {
    max-width: 596px;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    margin-bottom: 24px;
}

.banner .ban_text a {
    font-size: 14px;
    padding: 15px 30px;
    border: 1px solid #006D77;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.banner .ban_text a i {
    margin-left: 5px;
}

.ban_btn_one {
    margin-right: 71px;
}

.ban_btn_one:hover {
    color: #000 !important;
    background: transparent !important;
}

.ban_btn_two:hover {
    color: #fff !important;
    background: #000;
}

.banner .ban_img img {
    margin-left: 60px;
    padding-bottom: 40px;
}