#footerLink{
    padding: 120px 0 81px;
}

#footerLink img{
    margin: 0 0 10px -10px;
}

#footerLink h4{
    font-size: 18px;
    margin-bottom: 13px;
}

#footerLink p{
    font-size: 14px;
    line-height: 24px;
    color: #444444;
}

#footerLink h3{
    font-size: 18px;
    margin: 18px 0 21px;
}

#footerLink ul li{
    font-size: 15px;
    letter-spacing: 5%;
    color: #929292;
    margin-bottom: 16px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
    cursor: pointer;
}

#footerLink ul li i{
    margin-right: 10px;
}

#footerLink ul li:hover{
    color: #006D77;
}