nav {
    padding: 18px 0;
}

nav ul {
    column-gap: 36px;
}



nav ul li {
    font-size: 14px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
    cursor: pointer;
}

nav ul li:hover {
    color: #006D77 !important;
}

nav .nav_btn {
    font-size: 14px;
    padding: 10px 20px;
    background: #BEE1E6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

nav .nav_btn i {
    margin-left: 5px;
}