#topLeading {
    padding: 71px 0 72px;
    background: #E2FBFF;
    box-shadow: 0px 30px 70px -35px #00000080;
}

#topLeading .topLeading_text span {
    font-size: 14px;
    background: #BEE1E6;
    padding: 10px 15px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    margin: 21px 0 24px;
}

#topLeading .topLeading_text h2 {
    font-size: 33px;
}

#topLeading .topLeading_text > p {
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    margin: 21px 0 36px;
}

.topLeading_text .colGap {
    column-gap: 65px;
}

.colGap .topLeading_text_card {
    max-width: 282px;
}

.topLeading_text_card .colGap {
    column-gap: 20px;
    margin-bottom: 8px;
}

.topLeading_text_card h4 {
    font-size: 18px;
}

.topLeading_text_card p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin-bottom: 0;
}


.topLeading_img .topLeading_float{
    top: 277px;
    left: 285px;
}