#banner{
    padding-top: 80px;
    background: #BEE1E6;
}

#banner .ban_text span{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #006D77;
    padding: 10px 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 24px;
}

#banner .ban_text h1{
    max-width: 525px;
    font-size: 53px;
    font-weight: 600;
    color: #000;
    margin-bottom: 27px;
}

#banner .ban_text p{
    max-width: 596px;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: #444444;
    margin-bottom: 24px;
}

#banner .ban_text a{
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    color: #000;
    border: 1px solid #006D77;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

#banner .ban_text a i{
    margin-left: 5px;
}

.ban_btn_one{
    color: #fff !important;
    background: #000;
    margin-right: 71px;
}

.ban_btn_one:hover{
    color: #000 !important;
    background: transparent;
}
.ban_btn_two:hover{
    color: #fff !important;
    background: #000;
}

#banner .ban_img img{
        margin-left: 60px ;
        padding-bottom: 40px;
    }
